<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aditmail.projectminibank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/minibank"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registrasi" />
        <activity android:name=".MenuUtama" />
        <activity android:name=".DisplayRegistrasi" />
        <activity android:name=".Kredit" />
        <activity android:name=".Debit" />
        <activity android:name=".Help" />
        <activity android:name=".LihatKredit" />
        <activity android:name=".LihatDebit" />
        <activity android:name=".ProfilePelanggan" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".About"></activity>
    </application>

</manifest>